<h1><%= @description %></h1>

<form action="/output">
  <div class="form-group">
    <label for="string">Enter a sentence to leetspeak it</label>
    <input id="str" name="string" class="form-control" type="text">
  </div>
  <button type="submit" class="btn btn-success">Leetspeak It!</button>
</form>
